# LOCATION:freeciv-web/flyway.properties
flyway.user=#DB_USER#
flyway.password=#DB_PASSWORD#
flyway.url=jdbc:mysql://#DB_HOST#:3306/#DB_NAME#?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
flyway.defaultSchema=freeciv_web
